html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fff url('../img/grey.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    min-width: 220px;
    width: 90vmin;
    max-width: 660px;
    min-height: 220px;
    height: 90vmin;
    max-height: 660px;
    background: linear-gradient(160deg, #d0f, #f39, #f80);
    padding: 4%;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 19%;
    width: 19%;
    margin: 2%;
    background: #2e3d49;
    font-size: 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    cursor: default;
    transform: rotateY(360deg);
    transition: 0.7s;
    background: #208cde;
}

.deck .card.show {
    font-size: 1.8em;
}

.deck .card.unsuccessful {
    cursor: default;
    background: #ff0100;
    animation: shake 0.3s;
}

.deck .card.match {
    cursor: default;
    background: #17e730;
    font-size: 1.8em;
    animation: shake 0.3s;
}

/*
 * "Shake" animation from https://www.w3schools.com/
 */

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    font-size: 1.2em;
    text-align: left;
    min-width: 220px;
    width: 90vmin;
    max-width: 660px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.score-panel .stars {
    display: inline-block;
    margin: 0;
    order: 0;
    padding: 0;
    width: 50%;
}

.score-panel .stars li {
    display: inline-block;
    list-style: none;
}

.score-panel p {
    margin: 0;
    order: 2;
    width: 50%;
}

.score-panel .restart {
    cursor: pointer;
    order: 1;
    text-align: right;
    width: 50%;
}
